<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "eventbrite", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Utilisateurs", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Evénements <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Evénements", events_path %></li>
              <li><%= link_to "Créer", new_event_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Compte <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profil", current_user %></li>
              <li><%= link_to "Modifier", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Se déconnecter", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>